.navbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: #1d2847;
  margin-bottom: 30px;
  padding: 30px;

  .navbar-title{
    display: flex;
    justify-content: center;
    flex: 1;


    h1 {
      font-family: "Gotham Pro";
      font-weight: 200;
      font-size: 2.5em;
      }
  }

  .navbar-buttons {
    position: absolute;
  }
}
