body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

textarea, input {
    resize: none;
    outline: none;
    vertical-align: middle;
    border: 0;
}

button {
  border: 0;
  background: transparent;
}

.material-icons {
    top: 2px;
    position: relative;
    margin: auto;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-column {
  display: flex;
  flex-flow: column;
}
