.input {
    background-color: transparent;
    max-width: 270px;
    outline: none;
    font-family: "Gotham Pro";
    font-weight: 200;
    font-size: 2.5em;
    margin: 10px auto 20px 10px;
    color: #fff;
    margin-bottom: 0.5em;
}

.input::placeholder {
  color: #b3bcd3;
  font-family: "Gotham Pro";
  font-weight: 200;
  font-size: 1em;
}
